<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Grocery Store App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item>
          <ion-input
            type="email"
            label="Email"
            labelPlacement="floating"
            inputmode="email"
            placeholder="johndoe@gmail.com"
            formControlName="email"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(email.dirty || email.touched) && email.errors"
            >Please insert your email</ion-note
          >
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            type="password"
            placeholder="Password"
            formControlName="password"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(password.dirty || password.touched) && password.errors"
            >Please insert your password</ion-note
          >
        </ion-item>

        <ion-button
          type="submit"
          expand="block"
          strong="true"
          [disabled]="!credentials.valid"
          >Sign in</ion-button
        >
        <ion-button
          type="button"
          expand="block"
          color="warning"
          (click)="forgotPw()"
        >
          <ion-icon name="key-outline" slot="start"></ion-icon>
          Forgot password?
        </ion-button>

        <div class="ion-margin-top">
          <ion-button
            type="button"
            expand="block"
            color="primary"
            fill="outline"
            routerLink="register"
          >
            <ion-icon name="person-outline" slot="start"></ion-icon>
            Create Account
          </ion-button>

          <ion-button
            type="button"
            expand="block"
            color=""
            (click)="getMagicLink()"
          >
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            Sign in with Email
          </ion-button>
          <!-- <ion-button
            type="button"
            expand="block"
            color="tertiary"
            routerLink="/tabs/home"
          >
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            Continue without account
          </ion-button> -->
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
