<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Groceries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card style="padding:2%;">
        <ion-list>
            <ion-item><h1>Shop</h1></ion-item>
            <ion-item *ngFor="let item of filteredItems">
              <!-- ... -->
            </ion-item>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterItems()"></ion-searchbar>
            <ion-item *ngFor="let grocery of (searchActive ? filteredItems : groceryItems)">
            <!-- <img [src]="grocery.image" style="margin: 2%;" /> -->
            <ion-label>
                <h2>{{grocery.name}}</h2>
                <p>$ {{grocery.price}}</p>
            </ion-label>
            <ion-button shape='rounded' (click)="addToCart(grocery)">Add to Cart</ion-button>
            </ion-item>
        </ion-list>
        </ion-card>
    <ion-card></ion-card> <!-- Add closing tag here -->
</ion-content>
